{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http//www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>艺美窗业</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box w_100">
  <div class="top_box w_100"> <span class="fl_left"> <img src="{% static 'images/logo.png' %}" height="59" width="350"/></span>
    {% if user.is_authenticated %}
        <span class="fl_right zw"><a href="{% url 'add_products' %}">发布新产品</a></span>
    {% else %}
        <span class="fl_right zw"><a href="#">繁体中文</a><a href="#">English</a></span>
    {% endif %}
  </div>
  <div class="top_01 w_100"></div>
<div class="nv_box w_100">
<ul>
<li><a href="{% url 'index' %}" target="_parent">首页</a></li>
<li><a href="{% url 'index' %}" target="_parent">关于艺美</a></li>
<li><a href="{% url 'product_list' %}" target="_parent">产品展示</a></li>
<li><a href="{% url 'index' %}" target="_parent">工程案例</a></li>
<li><a href="{% url 'index' %}" target="_parent">新闻中心</a></li>
<li><a href="#">在线留言</a></li>
<li><a href="{% url 'contacts' %}" target="_parent">联系我们</a></li>
</ul>

{#<div class="mouse_box"><table width="410" border="0" cellspacing="0" cellpadding="0">#}
{#  <tr>#}
{#    <td width="19" background="{% static 'images/nv_left.png' %}">&nbsp;</td>#}
{#    <td width="372" height="35" align="center" background="{% static 'images/nv_center.png' %}"><a href="#">公司简介</a>    &nbsp; &nbsp;<a href="#">企业文化</a>&nbsp;    &nbsp; <a href="#">资质认证</a>&nbsp; &nbsp;    <a href="#">员工风采</a> &nbsp;&nbsp;    <a href="#">人才资源</a></td>#}
{#    <td width="19" background="{% static 'images/nv_right.png' %}">&nbsp;</td>#}
{#  </tr>#}
{#</table>#}
{#</div>#}

</div>

<div class="w_100 banner"><img src="{% static 'images/banner.jpg' %}" width="100%" height="100%"/></div>
<div class="w_100 index_content">
<table width="102%" border="0" align="right" cellpadding="0" cellspacing="0">
  <tr>
    <td><dl style="margin-left:50px;">
<dt><img src="{% static 'images/index_img_03.gif' %}" height="125" width="118"/></dt>
<dd><p class="font_14 write"><strong>建筑幕墙设计</strong></p>
  <p class="pr_nr">建筑美学、建筑功能、建筑节能和建筑结构有机统一</p>
</dd>

</dl>
<dl>
  <dt><img src="{% static 'images/index_img_04.gif' %}" height="125" width="118"/></dt>
  <dd>
    <p class="font_14 write"><strong>建筑物理环境分析</strong></p>
    <p class="pr_nr">幕墙热工性能评估、分析<br />
      绿色建筑的节能分析</p>
  </dd>
</dl>
<dl>
  <dt><img src="{% static 'images/index_img_05.gif' %}" height="125" width="118"/></dt>
  <dd>
    <p class="font_14 write"><strong>建筑设计</strong></p>
    <p class="pr_nr">解决设计与各个技术工种之间的矛盾</p>
  </dd>
</dl>
<dl>
  <dt><img src="{% static 'images/index_img_06.gif' %}" height="125" width="118"/></dt>
  <dd>
    <p class="font_14 write"><strong>建筑规划</strong></p>
    <p class="pr_nr">解决设计与各个技术工种之间的矛盾</p>
  </dd>
</dl></td>
  </tr>
</table>
{#<div class="hd"><img src="{% static 'images/index_07.png' %}" height="19" width="140"/></div>#}
</div>
{#<div class=" w_100 ">#}
{#    <iframe scrolling="No" id="frm1" name="sub" frameborder="0" width="100%" height="61" allowtransparency="allowtransparency">#}
{#          <p class="fl_left bq">版权所有<span class="argil">&copy;</span> 广州珀明建筑幕墙设计有限公司   版权所有 粤ICP备05102344号  技术支持:汇亚科技</p>#}
{#          <p class="fl_left bq1">法律声明 | 合作伙伴 | 联系我们 | 友情链接</p>#}
{#    </iframe>#}
{#</div>#}
</div>
<div class=" w_100 foot_box">
  <p class="fl_left bq">版权所有<span class="argil">&copy;</span> 广州珀明建筑幕墙设计有限公司   版权所有 粤ICP备05102344号  技术支持:汇亚科技</p>
  <p class="fl_left bq1">法律声明 | 合作伙伴 | 联系我们 | 友情链接</p>
</div>
</body>
</html>
